body {  
    background: rgb(255, 255, 255);
    padding: 16px;
  }
  
  canvas {
    border: 1px dotted rgb(169, 209, 255);
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 45vh;
    width: 50vw;
  }