body {  
    background: rgb(255, 255, 255);
    padding: 16px;
  }
  
  canvas {
    border: 1px dotted rgb(169, 209, 255);
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 450px;
    width: 800px;
  }

  .mainButtons {
    position: relative;
    margin: auto;
    height: 80px;
    width: 200px;
  }