<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Workground</title>

<!--Include libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!--Include js & angular code libraries-->
<script type="text/javascript" src="project_src.js"></script>
<script type="text/javascript" src="app.js"></script>

<!--Include design sheets-->
<link href="design.css" type="text/css" rel="stylesheet">

</head>

<body ng-app="chartsApp" onload="initialize()">

<div ng-controller="mainController">
<!--START mainController-->

<!--Show/Hide buttons-->
<div class="mainButtons">
<input type="button" ng-click="showHideFunc('show')" value="Week"> 
<input type="button" ng-click="showHideFunc('hide')" value="Month">
</div>
<br />

<!--Weekly chart-->
<div ng-show="showval" class="chart-container">
        <canvas id="chart"></canvas>
</div>

<div ng-hide="hideval" class="chart-container">
    <canvas id="chartMonth"></canvas>
</div>

<!--END mainController-->
</div>

    <p id="debug1"></p>
    <p id="debug2"></p>
    <p id="debug3"></p>
    <p id="debug4"></p>
    <p id="debug5"></p>
    <p id="debug6"></p>
    <p id="debug7"></p>
    <p id="debug8"></p>
    <p id="debug9"></p>
    <p id="debug10"></p>
    <p id="debug11"></p>
    <p id="debug12"></p>
    <p id="debug13"></p>
    <p id="debug14"></p>




</body>

</html>