<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Workground</title>

<!--Include libraries-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="chartjs-plugin-zoom.js"></script>
<script type="text/javascript" src="chartjs-plugin-zoom.min.js"></script>

<!--Include js & angular code libraries-->
<script type="text/javascript" src="project_src.js"></script>
<script type="text/javascript" src="app.js"></script>

<!--Include design sheets-->
<link href="design.css" type="text/css" rel="stylesheet">
<link href="loader.css" type="text/css" rel="stylesheet">

</head>

<body ng-app="chartsApp" onload="initialize()">

    
<p>--Start--</p>

<!--Loader-->


<div  ng-controller="mainController">
<!--START mainController-->
<!--Charts App-->
<div id="contentLoader" ng-show="loaderStatus" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div id="appCharts">

<!--Show/Hide buttons-->
<div  class="mainButtons">
<input type="button" ng-click="showHideFunc('showWeek');" value="Week"> 
<input type="button" ng-click="showHideFunc('showMonth');" value="Month">
<input type="button" ng-click="showHideFunc('show3Month');" value="3 Months">
<input type="button" ng-click="showHideFunc('show6Month');" value="6 Months">
<input type="button" ng-click="showHideFunc('showYear');" value="Year">
</div>

<!--Weekly chart-->
<div ng-show="showval" class="chart-container">
        <button onclick="resetZoomWeek()">Reset Zoom</button>
        <canvas id="chart"></canvas>
</div>

<div ng-hide="hideval" class="chart-container">
        <button onclick="resetZoomMonth()">Reset Zoom</button>
    <canvas id="chartMonth"></canvas>
</div>

<div ng-hide="hideval3m" class="chart-container">
    <button onclick="resetZoom3Month()">Reset Zoom</button>
<canvas id="chart3Month"></canvas>
</div>

<div ng-hide="hideval6m" class="chart-container">
    <button onclick="resetZoom6Month()">Reset Zoom</button>
<canvas id="chart6Month"></canvas>
</div>

<div ng-hide="hideval2" class="chart-container">
    <button onclick="resetZoomYear()">Reset Zoom</button>
    <canvas id="chartYear"></canvas>
</div>

</div>
<!--END mainController-->
</div>

    <!--Debug section-->
    <div class="debug">
        <p id="debug1"></p>
        <p id="debug2"></p>
        <p id="debug3"></p>
        <p id="debug4"></p>
        <p id="debug5"></p>
        <p id="debug6"></p>
        <p id="debug7"></p>
        <p id="debug8"></p>
        <p id="debug9"></p>
        <p id="debug10"></p>
        <p id="debug11"></p>
        <p id="debug12"></p>
        <p id="debug13"></p>
        <p id="debug14"></p>
        <p id="debug15"></p>
        <p id="debug16"></p>
        <p id="debug17"></p>
        <p id="debug18"></p>
        
    </div>
    <!--Debug section-->

    



    <p>--END--</p>
</body>

</html>