<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Workground</title>

<!--Include libraries-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="../lib/chartjs-plugin-zoom.js"></script>
<script type="text/javascript" src="../lib/chartjs-plugin-zoom.min.js"></script>

<!--Include js & angular code libraries-->
<script type="text/javascript" src="../lib/data_builders.js"></script>
<script type="text/javascript" src="../lib/server_calls.js"></script>
<script type="text/javascript" src="../lib/project_src.js"></script>
<script type="text/javascript" src="../lib/app.js"></script>

<!--Include design sheets-->
<link href="../design/design.css" type="text/css" rel="stylesheet">
<link href="../design/loader.css" type="text/css" rel="stylesheet">

</head>

<body ng-app="chartsApp" onload="initialize()">


<div  ng-controller="mainController">
<!--START mainController-->
<!--Charts App-->
<!--<div id="contentLoader" ng-show="loaderStatus" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->

<div id="contentLoader" ng-show="loaderStatus"  class="lds-ripple"><div></div><div></div></div>

<div id="appCharts">

<!--Show/Hide buttons-->
<div  class="mainButtons">
<input type="button" ng-click="showHideFunc('showWeek');" value="Week"> 
<input type="button" ng-click="showHideFunc('showMonth');" value="Month">
<input type="button" ng-click="showHideFunc('show3Month');" value="3 Months">
<input type="button" ng-click="showHideFunc('show6Month');" value="6 Months">
<input type="button" ng-click="showHideFunc('showYear');" value="Year">
<input type="button" ng-click="showHideFunc('show3year');" value="3 Years">
<input type="button" ng-click="showHideFunc('show5year');" value="5 Years">
</div>

<!--Weekly chart-->
<div ng-show="showval" class="chart-container">
        <button onclick="resetZoomWeek()">Reset Zoom</button>
        <div class="InfoBox">
                <p id="weekDate"></p>
                <p id="weekLockRate"></p>
                <p id="weekPrevClose"></p> 
                <p id="weekOpeningRate"></p> 
                <p id="weekDailyHigh"></p> 
                <p id="weekDailyLow"></p> 
                <p id="weekTurnover"></p>                
        </div>
        <canvas id="chart"></canvas>
</div>

<div ng-hide="hideval" class="chart-container">
        <button onclick="resetZoomMonth()">Reset Zoom</button>
        <div class="InfoBox">
                <p id="monthDate"></p>
                <p id="monthLockRate"></p>
                <p id="monthPrevClose"></p> 
                <p id="monthOpeningRate"></p> 
                <p id="monthDailyHigh"></p> 
                <p id="monthDailyLow"></p> 
                <p id="monthTurnover"></p>                
        </div>
    <canvas id="chartMonth"></canvas>
</div>

<div ng-hide="hideval3m" class="chart-container">
    <button onclick="resetZoom3Month()">Reset Zoom</button>
    <div class="InfoBox">
            <p id="month3Date"></p>
            <p id="month3LockRate"></p>
            <p id="month3PrevClose"></p> 
            <p id="month3OpeningRate"></p> 
            <p id="month3DailyHigh"></p> 
            <p id="month3DailyLow"></p> 
            <p id="month3Turnover"></p>                
    </div>
<canvas id="chart3Month"></canvas>
</div>

<div ng-hide="hideval6m" class="chart-container">
    <button onclick="resetZoom6Month()">Reset Zoom</button>
    <div class="InfoBox">
            <p id="month6Date"></p>
            <p id="month6LockRate"></p>
            <p id="month6PrevClose"></p> 
            <p id="month6OpeningRate"></p> 
            <p id="month6DailyHigh"></p> 
            <p id="month6DailyLow"></p> 
            <p id="month6Turnover"></p>                
    </div>
<canvas id="chart6Month"></canvas>
</div>

<div ng-hide="hideval2" class="chart-container">
    <button onclick="resetZoomYear()">Reset Zoom</button>
    <div class="InfoBox">
            <p id="yearDate"></p>
            <p id="yearLockRate"></p>
            <p id="yearPrevClose"></p> 
            <p id="yearOpeningRate"></p> 
            <p id="yearDailyHigh"></p> 
            <p id="yearDailyLow"></p> 
            <p id="yearTurnover"></p>                
    </div>
    <canvas id="chartYear"></canvas>
</div>

<div ng-hide="hideval3y" class="chart-container">
    <button onclick="resetZoom3year()">Reset Zoom</button>
    <div class="InfoBox">
            <p id="year3Date"></p>
            <p id="year3LockRate"></p>
            <p id="year3PrevClose"></p> 
            <p id="year3OpeningRate"></p> 
            <p id="year3DailyHigh"></p> 
            <p id="year3DailyLow"></p> 
            <p id="year3Turnover"></p>                
    </div>
<canvas id="chart3Year"></canvas>
</div>

<div ng-hide="hideval5y" class="chart-container">
    <button onclick="resetZoom5year()">Reset Zoom</button>
    <div class="InfoBox">
            <p id="year5Date"></p>
            <p id="year5LockRate"></p>
            <p id="year5PrevClose"></p> 
            <p id="year5OpeningRate"></p> 
            <p id="year5DailyHigh"></p> 
            <p id="year5DailyLow"></p> 
            <p id="year5Turnover"></p>                
    </div>
<canvas id="chart5Year"></canvas>
</div>

</div>
<!--END mainController-->
</div>

    <!--Debug section-->
    <div class="debug">
        <p id="debug1"></p>
        <p id="debug2"></p>
        <p id="debug3"></p>
        <p id="debug4"></p>
        <p id="debug5"></p>
        <p id="debug6"></p>
        <p id="debug7"></p>
        <p id="debug8"></p>
        <p id="debug9"></p>
        <p id="debug10"></p>
        <p id="debug11"></p>
        <p id="debug12"></p>
        <p id="debug13"></p>
        <p id="debug14"></p>
        <p id="debug15"></p>
        <p id="debug16"></p>
        <p id="debug17"></p>
        <p id="debug18"></p>
        <p id="debug60"></p>
        
    </div>
    <!--Debug section-->

</body>

</html>